

.login-panel__image-panel{
    background-image: url('../../../public/ionix-logo-page.jfif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.login-panel__form-panel {
    background-color: #2E2E2E;
}