
.background {
  width: 100vw;
  min-height: 100vh;
  background-color: #ffe259;
  background: linear-gradient(to right, #ffa751, #ffe259);
}

.mt-100 {
  margin-top: 100px !important;
}

.app-table__container {
  height: 400px;
  width: 1100px;
  max-width: 100vw;
  background-color: #FFFF;
}

.app-table__data-grid {
  width: 100%;
}

